/* * * * GLOBAL * * * */
// .viewport {
//   background-color: $primary;
//   border-radius: 5px;
//   width: 100%;
//   min-height: 300px;
//   padding: 15px;
//   overflow: hidden;
// }

.code-block {
  background-color: $accent;
  padding: 15px;
  border-radius: 5px;
}

.code-block p {
  padding: 0;
}

/* * * * COMMENT * * * */
.fullPage {
  width: 95vw;
  height: 95vh;
  background-color: black;
}

.codeStagger {
  position: absolute;
}
